.button {
  display: inline-block;
  padding: 0 2.5rem;

  color: hsl(0, 100%, 100%);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.015em;
  line-height: 2.7;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;

  background-color: var(--primary-400);
  border: none;
  border-radius: 40px;

  scale: 1;
  transition: var(--transition-opacity), var(--transition-scale);
}

.button:hover {
  opacity: 0.5;

  cursor: pointer;
}

.button:active {
  scale: 0.8;
}

.square {
  border-radius: 5px;
}

.thin {
  min-width: 6.5rem;
  padding: 0 1.3rem;

  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 2.5;
}

.active {
  background-color: var(--primary-700);
}
