.hero {
  display: flex;
  flex-direction: column;

  max-width: var(--max-width);
  margin: var(--margin);
  margin-bottom: 5.5rem;
  padding: var(--padding);
  padding-top: 0;
  padding-bottom: 0;

  text-align: center;
}

.hero img {
  max-width: initial;
  width: 152%;
  margin-bottom: 2.4rem;
}

.hero__header {
  margin: 0;
  margin-bottom: 0.8rem;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 1.8rem;
}

@media (min-width: 40rem) {
  .hero {
    align-items: center;
    flex-direction: row;

    margin-bottom: 2rem;
    padding-top: 1.4rem;

    text-align: left;
  }

  .hero img {
    order: 2;
    flex: 0 0 66%;

    transform: translateX(8%);
  }

  .hero__container {
    flex: 0 0 55%;
  }
}

@media (min-width: 56.25rem) {
  .hero__header {
    margin-bottom: 0.1rem;

    font-size: 5rem;
    line-height: 1.1;
    letter-spacing: -0.025em;
  }

  .hero__text {
    margin-bottom: 2.2rem;

    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: -0.05em;
  }
}

@media (min-width: 68.75rem) {
  .hero__container {
    margin-top: -2.5rem;
  }
}
