.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 97.5%;

  text-align: center;

  background: url("../../images/illustration-working.svg") no-repeat;
  background-position: 1.5rem 0;
  background-size: 133%;
}

.hero__container {
  margin: 0 auto;
  padding: 0 1.5rem;
}

.hero__header {
  margin: 0;
  margin-bottom: 0.8rem;
}

.hero__text {
  margin: 0;
}

@media(min-width: 800px) {
  .hero {
    padding-top: 5.8rem;

    text-align: left;

    background-position: 110% -20%;
    background-size: 48%;
  }

  .hero__container {
    padding-left: 13.5%;
    padding-right: 48%;
  }

  .hero__header {
    margin-bottom: 0.1rem;

    font-size: 5rem;
    line-height: 1.1;
    letter-spacing: -0.025em;
  }

  .hero__text {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: -0.05em;
  }
}
