.shortener__list {
  margin: 0;
  padding: 0;
  padding-top: 1.56rem;

  list-style: none;
}

.shortener__item {
  display: flex;
  flex-direction: column;

  padding-bottom: 1rem;

  letter-spacing: 0.005em;

  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
}

.shortener__item + .shortener__item {
  margin-top: 1.56rem;
}

.shortener__item > span {
  flex-basis: auto;
  flex-shrink: 2;

  text-overflow: ellipsis;
  overflow: hidden;

  padding: 0.8rem 1rem 0.8rem;

  color: var(--gray-700);

  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.shortener__item > a {
  flex-shrink: 0;
  padding: 0.8rem 1rem 0.8rem;

  color: hsl(180, 66%, 49%);
  text-decoration: none;
}

.shortener__item :global(.button-module) {
  flex-shrink: 0;

  margin: 0 1rem;
}

@media (min-width: 40rem) {
  .shortener__item {
    flex-direction: row;
    align-items: center;

    padding: 0.5rem 1.45rem 0.5rem 1rem;
  }

  .shortener__item + .shortener__item {
    margin-top: 1rem;
  }

  .shortener__item > span {
    margin-right: auto;

    border-bottom: none;
  }

  .shortener__item > a {
    margin-right: 0.5rem;
    text-align: left;
  }

  .shortener__item :global(.button-module) {
    margin: 0;
  }
}

@media (min-width: 56.25rem) {
  .shortener__item {
    font-size: 1.3rem;
    letter-spacing: -0.016em;
  }
}
