.hamburger {
  padding: 0;

  border: none;
  background-color: transparent;

  outline: none;
}

.hamburger svg {
  display: block;
  width: 1.8rem;
  height: auto;
}

@media(min-width: 40.625rem) {
  .hamburger {
    display: none;
  }
}