.navMobile {
  position: realtive;
}

.navMobile__dropdown {
  position: absolute;
  top: 6rem;
  right: 1.5rem;

  width: 20.4rem;
  padding: 2rem 2rem 2.5rem;

  color: hsl(0, 100%, 100%);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-align: center;

  background-color: var(--primary-700);
  border-radius: 10px;
}

.navMobile__dropdown > :first-child {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid
    hsla(0, 100%, 100%, 0.2);
}

.navMobile__dropdown > :last-child {
  padding-top: 1.5rem;
}

.navMobile__dropdown ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navMobile__dropdown li + li {
  margin-top: 1rem;
}

.navMobile__dropdown a {
  display: inline-block;

  padding: 0 0.5rem;

  color: inherit;
  line-height: 2.3;
  text-decoration: none;
  text-transform: capitalize;
}

.navMobile__dropdown :global(.button-module) {
  width: calc(100% + 1rem);
  margin: 0 -0.5rem;

  font-size: 1.2rem;
  line-height: 2.5;
}
