.navMobile {
  position: realtive;
}

.navMobile__dropdown {
  position: absolute;
  top: 6rem;
  right: 1.5rem;

  width: 20.4rem;
  padding: 2rem;

  color: hsl(0, 100%, 100%);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-align: center;

  background-color: var(--bgDark);
  border-radius: 10px;
}

.navMobile__dropdown > :first-child {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid hsla(0, 100%, 100%, 0.2);
}

.navMobile__dropdown > :last-child {
  padding-top: 1.5rem;
}

.navMobile__links {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navMobile__links a {
  display: inline-block;

  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.navMobile__links > * + * {
  margin-top: 1rem;
}

.navMobile__links a {
  padding: 0 0.5rem;

  line-height: 2.3;
}
