.container {
  background: url(../../images/bg-boost-mobile.svg) center no-repeat;
  background-size: cover;
  background-color: var(--primary-700);
}

.start {
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 6.3rem 1.5rem 5.6rem;

  text-align: center;
}

.start h2 {
  margin-top: 0;
  margin-bottom: 1.4rem;

  color: var(--gray-0);
  font-size: 1.7rem;
  letter-spacing: -0.01em;
}

@media (min-width: 37.5rem) {
  .container {
    background-image: url(../../images/bg-boost-desktop.svg);
  }

  .start {
    padding: 4rem 1.5rem 3.5rem;
  }

  .start h2 {
    margin-bottom: 1.6rem;

    font-size: 2.4rem;
  }
}
