.header {
  --height: 6.875rem;
  --sidePadding: 1.5rem;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 71.875rem;
  height: var(--height);
  margin: 0 auto;
  padding: 0 var(--sidePadding);
}

.header__links {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header__links a {
  display: inline-block;

  color: inherit;
  text-decoration: none;
}

@media(max-width: 40.625rem) {
  .header__navigation {
    position: absolute;
    top: calc(var(--height) - 0.875rem);
    right: var(--sidePadding);
    left: var(--sidePadding);

    padding: 2rem;

    color: hsl(0, 100%, 100%);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-align: center;

    background-color: var(--bgDark);
    border-radius: 10px;
  }

  .header__navigation > :first-child {
    padding-bottom: 1.5rem;
    border-bottom: 2px solid hsla(0, 100%, 100%, 0.2);
  }

  .header__navigation > :last-child {
    padding-top: 1.5rem;
  }

  .header__links > * + * {
    margin-top: 1rem;
  }

  .header__links a {
    padding: 0 0.5rem;

    line-height: 2.3;
  }
}

@media(min-width: 40.625rem) {
  .header {
    --height: 8.75rem;
    padding: 0 1.5rem;
  }

  .header__button {
    display: none;
  }

  .header__navigation {
    display: flex;
    flex: 1 0 auto;
    align-items: center;

    margin-left: 2.7rem;

    color: var(--linkColor);
  }

  .header__links {
    display: flex;
  }

  .header__links + .header__links {
    margin-left: auto;
  }

  .header__links > * + * {
    margin-left: 1.9rem;
  }
}