.header {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 71.875rem;
  height: 6.875rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (min-width: 41.25rem) {
  .header {
    height: 9rem;
  }
}
