.header {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: var(--max-width);
  height: 6.875rem;
  margin: var(--margin);
  padding: var(--padding);
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 40rem) {
  .header {
    height: 8.5rem;
  }
}
