.footer {
  background-color: var(--gray-700);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: var(--max-width);
  margin: var(--margin);
  padding: var(--padding);
  padding-top: 3.2rem;
  padding-bottom: 5rem;

  text-align: center;
}

.footer__container > svg {
  margin-bottom: 3.3rem;
}

.footer__navigation section + section {
  margin-top: 2.6rem;
}

.footer__navigation h4 {
  margin-top: 0;
  margin-bottom: 1.5rem;

  font-size: 1rem;

  color: var(--gray-0);
}

.footer__navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__navigation a {
  color: var(--gray-400);
  font-size: 0.9rem;
  text-decoration: none;
}

.footer__navigation li + li {
  margin-top: 0.5rem;
}

.footer__navigation > ul {
  margin-top: 2.5rem;
}

@media (min-width: 1500px) {
  .footer__container {
    flex-direction: row;
    align-items: flex-start;

    padding-top: 4.5rem;

    text-align: left;
  }

  .footer__container > svg {
    margin-right: auto;
    margin-bottom: 0;
  }

  .footer__navigation {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    max-width: 45rem;
    margin-bottom: 0;
  }

  .footer__navigation section + section {
    margin-top: 0;
  }

  .footer__navigation > ul {
    margin: -0.5rem -0.5rem 0 0;
  }
}
