.socials {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__item + .socials__item {
  margin-top: 0;
  margin-left: 0.5rem;
}

.socials a {
  display: block;
  padding: 0.5rem;
}

.socials a path {
  transition: var(--transition-fill);
}

.socials a:hover path {
  fill: var(--primary-400);
}

.socials svg {
  display: block;
}
