.navDesktop {
  display: flex;
  align-items: center;
  flex-grow: 1;

  margin-left: 3rem;
}

.navDesktop ul {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navDesktop ul:first-child {
  padding-right: 1.9rem;
}

.navDesktop a {
  display: inline-block;

  color: var(--gray-500);
  text-decoration: none;
  text-transform: capitalize;

  transition: var(--hover);
}

.navDesktop a:hover {
  color: var(--gray-700);
}

.navDesktop ul + ul {
  margin-left: auto;
}

.navDesktop li + li {
  margin-left: 1.9rem;
}

.navDesktop :global(.button-module) {
  padding: 0 1.5rem;

  color: var(--gray-0);
  font-size: 1rem;
}

.navDesktop :global(.button-module:hover) {
  color: var(--gray-0);
}
