.shortener {
  background: linear-gradient(
    var(--gray-0) 5.3rem,
    var(--gray-300) 5.3rem
  );
}

.shortener__container {
  max-width: var(--max-width);
  margin: var(--margin);
  padding: var(--padding);
  padding-top: 0;
  padding-bottom: 0;
}
