.shortener {
  background-color: hsl(230, 25%, 95%);
}

.shortener__container {
  max-width: var(--max-width);
  margin: var(--margin);
  padding: var(--padding);
  padding-top: 0;
  padding-bottom: 0;
}
